@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

main {
  background-color: #004A95;
  color: aliceblue;
  display: grid;
  grid-template-rows: 120px, 45px;
  margin: 0 8px;
  border-radius: 10px;
  height: 150vh;
  min-width: 600px;
  align-content: start;
}

header {
  height: 83px;
  align-items: center;
}

header h1 {
  margin: 15px 0 0 40px;
}

header h6 {
  font-size: 0.73em;
  margin-left: 40px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr auto 1.2fr;
  background-color: #F2F2F2;
  height: 35px;
  font-weight: 700;
  place-items: center;
  margin: 0 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

nav div a {
  text-decoration: none;
  color: black;

}

#post {
  color: antiquewhite;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  border-top-left-radius: 8px;
}

#post a {
  color: antiquewhite;
}

#comunidades {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}

#registrate {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}

#vacio {
  grid-column: 4 / 5;
}

#identificarme {
  display: grid;
  place-items: center;
  grid-column: 5 / 6;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fdd472, #dda931);
  background-color: #FFC847;
  border-top-right-radius: 8px;
}

#nav-2 {
  display: grid;
  grid-template-columns: 105px 105px 105px 105px auto;
  background-color: #007294;
  height: 30px;
  font-weight: 700;
  place-items: center;
  margin: 0 10px;
}

#nav-2 a {
  text-decoration: none;
  color: white;
}

#inicio {
  display: grid;

}

#inicio a {
  color: #333;
  width: 95px;
  margin-top: 10px;
  text-align: center;
  background-color: #FFFFFF;
}

#novatos {
  display: grid;
}

#novatos a {
  width: 95px;
  margin-top: 10px;
  text-align: center;
  background-color: #3B8BAC;
}

#buscador {
  display: grid;
}

#buscador a {
  width: 95px;
  margin-top: 10px;
  text-align: center;
  background-color: #3B8BAC;
}

#tops {
  display: grid;
}

#tops a {
  width: 95px;
  margin-top: 10px;
  text-align: center;
  background-color: #3B8BAC;
}

@media (max-width: 600px) {
  main {
    min-width: 440px;
    max-width: 440px;
  }

  nav {
    display: grid;
    grid-template-columns: 120px 160px 140px;
    grid-template-rows: repeat(2, 35px);
    width: 420px;
    border-top-right-radius: 8px;
  }

  #identificarme {
    display: none;
  }

  #vacio {
    display: none;
  }

  #registrate {
    border-top-right-radius: 8px;
    border-right: none;
  }

  #nav-2 {
    width: 420px;
  }
}